---
import Tick from "../../icons/Tick.astro";
---

<div class="w-full flex flex-col justify-center items-center gap-5">
  <img
    src="https://carlosalcaraz.com/wp-content/uploads/2017/08/ehome-2.png"
    class="w-96"
    alt="Carregador elèctric"
    loading="eager"
  />
  <h2 class="font-bold text-xl text-left text-pretty text-black/90">
    Carga elèctrica
  </h2>
  <p class="text-base text-left text-pretty text-black/60">
    Implementa estaciones de carga y aumentar tus ganancias
  </p>
  <ul class="flex flex-col items-center gap-y-4">
    <li class="w-full flex items-center gap-x-2">
      <Tick class="size-6 text-yellow-500" />
      Promoció del benestar del medi ambient
    </li>
    <li class="w-full flex items-center gap-x-2">
      <Tick class="size-6 text-yellow-500" />
      Millora de l'atractiu de la propietat
    </li>
    <li class="w-full flex items-center gap-x-2">
      <Tick class="size-6 text-yellow-500" />
      Generació de beneficis adicionals sense cost
    </li>
    <li class="w-full flex items-center gap-x-2">
      <Tick class="size-6 text-yellow-500" />
      Servei ràpid i fiable
    </li>
  </ul>
</div>
