<div
  class="absolute -z-50 top-30 -left-64 md:w-[600px] md:h-[600px] w-96 h-96 bg-green-300 rounded-full filter blur-2xl opacity-15 animate-blob animate-delay-[2s]"
>
</div>
<div
  class="absolute -z-50 top-60 -right-64 md:w-[600px] md:h-[600px] w-96 h-96 bg-red-300 rounded-full filter blur-2xl opacity-15 animate-blob"
>
</div>
