---

---

<div class="w-full flex flex-row justify-center items-center gap-5">
  <div class="w-full flex flex-col justify-center items-center gap-5">
    <img
      src="https://dantherm-group-cdn.s3.amazonaws.com/cache/media/products/39992/Dantherm-HPP-i_Side-2_2f36eb961623f37d75fa298e9bd01544.webp"
      class="w-96"
      alt="Carregador elèctric"
      loading="eager"
    />
    <h2 class="font-bold text-xl text-left text-pretty text-black/90">
      Bombes aire-aigua
    </h2>
    <p class="text-base text-left text-pretty text-black/60">
      Implementa estaciones de carga y aumentar tus ganancias
    </p>
    <ul class="flex flex-col items-center gap-y-4">
      <li
        class="w-full flex items-center gap-x-2 py-4 border-b border-slate-200"
      >
        <span class="text-yellow-500 font-bold">1.</span>
        Promoció del benestar del medi ambient
      </li>
      <li
        class="w-full flex items-center gap-x-2 py-4 border-b border-slate-200"
      >
        <span class="text-yellow-500 font-bold">2.</span>
        Millora de l'atractiu de la propietat
      </li>
      <li
        class="w-full flex items-center gap-x-2 py-4 border-b border-slate-200"
      >
        <span class="text-yellow-500 font-bold">3.</span>
        Generació de beneficis adicionals sense cost
      </li>
    </ul>
  </div>
  <div class="w-full flex flex-col justify-center items-center gap-5">
    <img
      src="https://ae01.alicdn.com/kf/Sdbd40ef609fc41b79743d7c8bdec5030O.jpg_640x640Q90.jpg_.webp"
      class="w-96"
      alt="Carregador elèctric"
      loading="eager"
    />
    <h2 class="font-bold text-xl text-left text-pretty text-black/90">
      Bombes aigua-aigua
    </h2>
    <p class="text-base text-left text-pretty text-black/60">
      Implementa estaciones de carga y aumentar tus ganancias
    </p>
    <ul class="flex flex-col items-center gap-y-4">
      <li
        class="w-full flex items-center gap-x-2 py-4 border-b border-slate-200"
      >
        <span class="text-yellow-500 font-bold">1.</span>
        Promoció del benestar del medi ambient
      </li>
      <li
        class="w-full flex items-center gap-x-2 py-4 border-b border-slate-200"
      >
        <span class="text-yellow-500 font-bold">2.</span>
        Millora de l'atractiu de la propietat
      </li>
      <li
        class="w-full flex items-center gap-x-2 py-4 border-b border-slate-200"
      >
        <span class="text-yellow-500 font-bold">3.</span>
        Generació de beneficis adicionals sense cost
      </li>
    </ul>
  </div>
</div>
