---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import "@fontsource-variable/archivo";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/tmLogos/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(234, 179, 8, 0.8);
    border-radius: 10px;
  }
  html {
    font-family: "Archivo Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
