---
const { class: id } = Astro.props;
---

<section id={id} data-section={id} class={`w-dvw h-dvh overflow-clip relative`}>
  <div
    class="absolute top-0 left-0 w-full h-full z-20 flex flex-col items-center justify-center gap-y-6 px-10"
  >
    <object
      class="lg:w-96 md:w-72 w-52"
      aria-label="Logo de l'empresa"
      data="./tmLogos/logo.svg"
      type="image/svg+xml"></object>
    <p
      class="lg:text-4xl md:text-3xl text-2xl text-pretty text-center font-bold text-white/90"
    >
      La teva solució en <span
        class="font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-yellow-500/80 to-50% to-yellow-500"
        >energia solar</span
      >
    </p>
  </div>
  <div class="absolute top-0 left-0 right-0 w-full h-full bg-black/50 z-10">
  </div>
  <video class="w-full h-full object-cover object-top" autoplay loop muted>
    <source src="./background-video.mp4" type="video/mp4" />
    El seu navegador no soporta video HTML5.
  </video>
</section>
