---
import Graph from "../../icons/Stadistics/Graph.astro";
---

<div class="w-full flex flex-col items-center justify-center">
  <div class="w-full flex flex-row justify-center items-center gap-x-20">
    <div class="w-1/2 flex flex-row items-center justify-center gap-x-6">
      <Graph class="size-52" />
      <h2 class="text-2xl text-pretty text-black/90 font-semibold">
        <span class="text-8xl font-thin">
          35 <span class="text-lg font-semibold -ml-4">%</span>
        </span>
        <br />
        Empreses estalvia
      </h2>
    </div>
    <div class="w-1/2 flex flex-row items-center justify-center gap-x-6">
      <Graph class="size-52" />
      <h2 class="text-2xl text-pretty text-black/90 font-semibold">
        <span class="text-8xl font-thin">
          19 <span class="text-lg font-semibold -ml-4">%</span>
        </span>
        <br />
        Estalvi mitjà net
      </h2>
    </div>
  </div>
  <div class="w-full flex flex-row justify-center items-center gap-x-20">
    <div class="w-1/2 flex flex-row items-center justify-center gap-x-6">
      <Graph class="size-52" />
      <h2 class="text-2xl text-pretty text-black/90 font-semibold">
        <span class="text-8xl font-thin">
          75 <span class="text-lg font-semibold -ml-4">%</span>
        </span>
        <br />
        Edificis ineficients
      </h2>
    </div>
    <div class="w-1/2 flex flex-row items-center justify-center gap-x-6">
      <Graph class="size-52" />
      <h2 class="text-2xl text-pretty text-black/90 font-semibold">
        <span class="text-8xl font-thin">
          9 <span class="text-lg font-semibold -ml-4">€ / 1€</span>
        </span>
        <br />
        Estalvi per cost
      </h2>
    </div>
  </div>
</div>
